.App {
  font-family: "Work Sans", Helvetica, sans-serif;
  text-align: center;

}

.App-header {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.inputs {
  display: flex;
  flex-direction: column;
}

input {
  width: 200px;
}

.swatch-wrapper {
  --gray: #cccccc;
  --square-size: 20px;
  --half-square: 10px;
  --neg-half-square: -10px;
  display: inline-block;
  width: 100px;
  height: 100px;
  background-image:
    linear-gradient(45deg, var(--gray) 25%, transparent 25%),
    linear-gradient(-45deg, var(--gray) 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, var(--gray) 75%),
    linear-gradient(-45deg, transparent 75%, var(--gray) 75%);
  background-size: var(--square-size) var(--square-size);
  background-position:
    0 0,
    0 var(--half-square),
    var(--half-square) var(--neg-half-square),
    var(--neg-half-square) 0px;
}

.swatch {
  display: inline-block;
  width: 100px;
  height: 100px;
}
