.App {
  font-family: "Work Sans", Helvetica, sans-serif;
  text-align: center;

}

.App-header {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.inputs {
  display: flex;
  flex-direction: column;
}

input {
  width: 200px;
}
.swatch {
  display: inline-block;
  width: 100px;
  height: 100px;
}
